<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sdaacademy.jawny.daniel.httpdropbox3">

    <uses-permission android:mName="android.permission.INTERNET" />
    <uses-permission android:mName="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:mName=".MainActivity">
            <intent-filter>
                <action android:mName="android.intent.action.MAIN" />

                <category android:mName="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>